.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.avatar--dark {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: 2px solid var(--color-primary);
}

.avatar--light {
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.emoji {
    position: absolute;
    font-size: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}