.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px;
    border: 1px solid var(--color-secondary-lite);
    border-radius: 4px;
    width: 100%;
}

.entry__left {
    display: flex;
    flex-direction: column;
}

.entry__right {
    display: flex;
    gap: 4px;
}

.entry__description {
    font-weight: bold;
}

.entry__dates {
    font-size: 12px;
    color: var(--color-primary-lite);
}

.entry__date-inputs {
    display: flex;
    margin-top: 4px;
    gap: 8px;
}

.entry__date-input {
    max-width: 200px;
}