.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px;
    border: 1px solid var(--color-secondary-lite);
    border-radius: 4px;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    gap: 4px;
}

.description {
    font-weight: bold;
}

.dates {
    font-size: 12px;
    color: var(--color-primary-lite);
}

.date-inputs {
    display: flex;
    margin-top: 4px;
    gap: 8px;
}

.date-input {
    max-width: 200px;
}

.status {
    margin-top: 2px;
}