.top-bar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 12px 0;
}

.icon {
    grid-column: 2;
    cursor: pointer;
}

.avatar {
    grid-column: 3;
    justify-self: end;
    align-self: self-start;
}