@import '@timo/common/styles.css';

:root {
  --color-primary: #1F1F1F;
  --color-primary-lite: #696969;
  --color-secondary: #ADB5BD;
  --color-secondary-lite: #CED4DA;
  --color-text: #1F1F1F;
  --color-background: #FAFAFA;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 12px;
}