@import '@timer-app/common/styles.css';

:root {
  --color-primary: #141414;
  --color-secondary: #ADB5BD;
  --color-tertiary: #CED4DA;
  --color-heading: #141414;
  --color-text: #141414;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  margin: 12px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}