.entries__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
}

.entries__new {
    text-align: center;
    margin: 16px 0;
}

.entries__filters {
    display: flex;
    gap: 8px;
}

.entries__message {
    text-align: center;
}

.entries__total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.entries__total-label {
    font-weight: bold;
    font-size: 18px;
}

.entries__day {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.entries__day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entries__day-name {
    font-size: 18px;
}