.button {    
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.button--primary {
    background-color: var(--color-primary);
}

.button--primary:hover {
    background-color: var(--color-primary-lite);
}

.button--secondary {
    background-color: var(--color-secondary);
}

.button--secondary:hover {
    background-color: var(--color-secondary-lite);
}